/recursion/a.out
/.vscode
/recursion/.vscode
/recursion/try.cpp
/arrays/a.out
/arrays/try.cpp
/arrays/template.cpp
/arrays/.vscode
/bit-magic/a.out
/matrix/try.cpp
/searching/try.cpp
/sorting/a.out
/sorting/try.cpp
/hashing/a.out
/hashing/try.cpp
/string/try.cpp