/recursion/a.out
/.vscode
/recursion/.vscode
/recursion/try.cpp
/arrays/a.out
/arrays/try.cpp
/arrays/template.cpp
/arrays/.vscode
/bit-magic/a.out
/matrix/try.cpp
/searching/try.cpp
/sorting/a.out
/sorting/try.cpp
/hashing/a.out
/hashing/try.cpp
/string/try.cpp
/linked-list/try.cpp
/stack/try.cpp
/queue/a.out
/binary-tree/a.out
/bst/a.out
/local.cc
/try.cc
/.DS_Store
/task.cc
/graph/a.out
/greedy/a.out
/backtracking/a.out
/parijat.cc
/sub.cc
/graph/parijat.cc
/trytwo.cc
/dp.cc
/dynamic-programming/a.out
